
body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
}
a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

a:hover {
  color: tomato;
}

/* lang settings */

.es .text-en,
.en .text-es {
    display: none;
}

.lang {
    position: absolute;
    top:50px;
    right: 50px;
    z-index: 2;
}

.lang select {
    background: none;
    color: #fff;
    outline: none;
    -webkit-appearance: none;
    border: none;
    font-size: 16px;
    line-height: 40px;
    text-shadow: 1px 1px 2px #000;
    cursor: pointer;
}

  .logo {
      position: absolute;
      top: 100px;
      left: 50%;
      transform: translateX(-50%);
      width: 200px;
      height: 200px;
      z-index: 2;
      overflow: hidden;
      border-radius: 50%;
  }

  .logo a {
      display: block;
      text-indent: -9999px;
      height: 100%;
      background: url(../images/logo.png) no-repeat;
      background-size: cover;
      position: relative;
  }

  .logo img {
      display: block;
      width: 100%;
      height: auto;
      border-radius: 50%;
  }
  
  .bgimg {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  .bgimg-1 {
    background-image: url(../images/section-1.jpg);
    min-height: 100%;
  }
  
  .bgimg-2 {
    background-image: url(../images/section-2.jpg);
    min-height: 400px;
  }
  
  .bgimg-3 {
    background-image: url(../images/section-3.jpg);
    min-height: 400px;
  }

  .bgimg-4 {
    background-image: url(../images/section-4.jpg);
    min-height: 100%;
  }
  
  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;

  }
  
  .caption h1 {
    background-color: #111;
    color: #fff;
    padding: 18px;
    margin: 0;
    font-size: 25px;
    letter-spacing: 10px;
    text-transform: capitalize;
  }

  .section {
    padding:50px 80px;
    color:#ddd;
    background:#282E34;
    text-align:center;
  }

  .section--white {
    color: #777;
    background-color:white;
    text-align: center;
  }
  
  .section--white h1 {
    margin: 0 0 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
  }

  .box {
      padding: 20px;
      text-align: left;
      color: #fff;
      text-shadow: 1px 1px 2px #000;
      margin: 0 0 30px;
  }

  .box + .box {
    background: rgba(255, 255, 255, .3);
  }

  .box h2 {
      text-align: center;
      margin: 0 0 20px;
  }

  .box.list {
      margin: 0 0 20px;
  }

  .facebook-feed {
      text-align: center;
  }

  .facebook-feed iframe {
      width: 500px;
      height: 500px;
  }

  .social {
      margin: 0 0 20px;
      padding: 20px;
      list-style: none;
      background:#111;
      font-size: 50px;
  }

  .social li {
      display: inline-block;
      margin-left: 10px;
  }

  .social a {
      color: white;
  }

  .contacts a {
    color: white;
    font-size: 30px;
    text-shadow: 1px 1px 3px #000;
    margin-left: 10px;
  }

  .social a:hover,
  .contacts a:hover {
    color: tomato;
  }

  #menuToggle
{
  display: block;
  position: fixed;
  top: 50px;
  left: 50px;
  
  z-index: 3;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle .icon-el
{
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle .icon-el:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle .icon-el:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ .icon-el
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ .icon-el:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ .icon-el:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
  
  /* Turn off parallax scrolling for tablets and phones */
  @media only screen and (max-device-width: 1024px) {
      .section {
        padding:30px 20px;
      }
      .facebook-feed iframe {
        width: 340px;
    }
  }