$color-white: #fff;
$color-light: #e7f1fa;
$color-dark: #192327;
$color-black: #282628;
$color-dark-night: #0d0606;
$color-purple: #4a4098;
$color-gray: #4a4a4a;
$color-blue: #4f79ab;
$color-ligth-blue: #9cb4d3;
$color-white-blue: #c0d5f0;
$color-red: #f6596e;
$color-border: #ccddf5;
$color-address: #bccfe4;