<div id="section-events" class="section section--white">
	<div class="container">
			<h1 class="heading">
				<span class="text-en">Future Events</span>
				<span class="text-es">Eventos futuros</span>
			</h1>

			<div class="event-container">
				<span class="link text--left" (click)="isDisplayAll = !isDisplayAll;checkShowMoreButtonState()">
					<span *ngIf="!isDisplayAll">View All Events</span>
					<span *ngIf="isDisplayAll">View Future Events</span>
				</span>
				<div class="holder" *ngFor="let event of events | filterEvents:isDisplayAll | slice:0:eventsShowLimit; let i = index;" [ngClass]="{'outdated': event.isOutdated}">
					<div *ngIf="event.noposts">No Events to display</div>
					<div *ngIf="event.date != '' && !event.noposts" class="event grid-row">
						<div class="col-md-auto event-row">
							<p class="date time">{{event.time}}</p>
							<p class="date day">{{event.date | date:"d"}}</p>
							<p class="date month">{{event.date | date:"MMM - y"}}</p>
						</div>
						<div class="col-md event-row">
							<p class="title">{{event.title}}</p>
						</div>
						<div class="col-md event-row text--left">
							<p class="city">{{event.city}}</p>
							<div class="address grid-row">
								<div class="col-auto">
									<i class="fas fa-map-marker-alt"></i>
								</div>
								<div class="col">
									<span>{{event.place}}</span>
								</div>
							</div>
						</div>
						<div *ngIf="event.book != ''" class="col-md event-row text--left">
							<p class="city">Book</p>
							<p class="book">{{event.book}}</p>
						</div>
						<div *ngIf="event.tickets != ''" class="col-md event-row grid-row grid-row--center grid-row--middle">
							<a href="{{event.tickets}}" class="btn">Book Now</a>
						</div>
					</div>
				</div>
				<div [ngClass]="{'hidden': hideButton}" class="show-more">
					<span class="link" (click)="showMore()">+ More Events</span>
				</div>
			</div>
	</div>
</div> 
