@import "../../scss/colors";

.event-container {
	.holder {
		.event {
			background: $color-light;
			color: $color-dark;
			padding: 50px 0;

			.date {
				color: $color-blue;
				&.day {
					font: bold 80px/72px 'Oswald', sans-serif;
				}

				&.month {
					font-size: 18px;
					font-weight: 800;
					font-style: italic;
					color: $color-purple;
				}

				&.time-holder {
					color: $color-gray;
					font-size: 14px;
					line-height: 20px;

					.time {
						font-size: 32px;
						line-height: 37px;
						color: $color-ligth-blue;
						vertical-align: middle;
					}
				}
			}

			.city {
				color: $color-gray;
				font-size: 15px;
				line-height: 18px;
				text-transform: uppercase;
				margin: 0;
				font-weight: bold;
			}

			.title {
				font-size: 22px;
				line-height: 26px;
				font-weight: 700;
				font-style: italic;
				color: $color-black;
			}

			.title-row {
				@media (max-width: 767px) {
					margin: 0 0 15px;
				}
			}

			.event-row {
				border-right: 1px solid $color-border;
				padding: 0 35px;
				
				&:last-child {
					border: none;
				}

				@media (max-width: 767px) {
					margin: 0 0 15px;
				}
			}

			.address-icon {
				padding-right: 0 !important;
				color: $color-address;
			}
			
			address {
				display: block;
			}
		}
		
		&:nth-child(odd) .event {
			background: $color-dark;
			color: $color-ligth-blue;

			.date {
				&.month {
					color: $color-ligth-blue;
				}

				&.time-holder {
					color: $color-ligth-blue;
				}
			}

			.title {
				color: $color-ligth-blue;
			}

			.city {
				color: $color-ligth-blue;
			}
		}
	}

	.show-more {
		padding: 50px 0 0;

		&.hidden {
			display: none;
		}
	}

	.link {
		cursor: pointer;
		font-size: 20px;
		line-height: 22px;
		color: $color-white-blue;
		font-weight: 500;
		display: block;
		margin: 0 0 20px;

		.plus {
			color: $color-red;
		}
	}
}