<div id="section-instagram" class="section section--gradient">
	<div class="container">
		<h1 class="heading">
			<span class="text-en">Photos</span>
			<span class="text-es">Fotos</span>
		</h1>
		<div class="instaFeed" [ngClass]="{'loading': isLoading}">
			<mat-spinner></mat-spinner>
			<ngu-carousel  class="grid-row" #myCarousel [inputs]="carouselTile" [dataSource]="photos">
				<ngu-tile class="col-lg-3" *nguCarouselDef="let photo; let i = index">
					<a href="{{photo.url}}" target="_blank" class="photo">
						<div class="image__holder">
							<div class="image">
								<img src="{{photo.src}}" alt="{{photo.text}}">
							</div>
						</div>
					</a>
				</ngu-tile>
				<ul class="myPoint" NguCarouselPoint>
					<li *ngFor="let i of myCarousel.pointNumbers; let i = index" [class.active]="i==myCarousel.activePoint" (click)="myCarousel.moveTo(i)"></li>
				</ul>
			</ngu-carousel>
		</div>
	</div>
</div>
