@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

.photo-container {
	margin-bottom: 30px;
}

::ng-deep .ngucarousel {
	overflow: visible !important;

	@media (min-width: 1024px) {
		.ngucarousel-items {
			flex-wrap: wrap;
			transform: none !important;
		}
	}
}

.myPoint {
	margin: 0;
	padding: 20px 0 0;
	list-style: none;
	text-align: center;
	@media (min-width: 1024px) {
		display: none;
	}

	li {
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background: #fff;
		display: inline-block;
		margin: 0 10px;

		&.active {
			background: #000;
		}
	}
}

.photo {
	background: #fff;
	padding: 25px;
	display: block;
	color: #0D0606;
	border-radius: 5px;

	.image {
		position: relative;
		overflow: hidden;
		width: 255px;
		height: 255px;
		margin-bottom: 15px;
		border-radius: 6px;
		text-align: center;
		display: inline-block;

		&__holder {
			position: relative;
			text-align: center;

			&:after {
				content: '';
				width: 147px;
				height: 89px;
				background: rgba(9, 8, 26, 0.47);
				filter: blur(27.1828px);
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
			}
		}

		img {
			width: auto;
			height: 255px;
			border-radius: 6px;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			z-index: 2;
		}
	}
}